.cartitem{
    margin:100px 170px;
}
.cartitem hr{
    height: 3px;
    border:0;
    background:#e2e2e2;
}
.cartitem-format-main{
    display: grid;
    grid-template-columns:0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap:75px;
    padding:20px 0px;
    color:#454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitem-format{
 font-size: 17px;
 font-weight: 600;
}

.cartitem-product-icon{
    height: 62px;

}

.cartitem-remove-icon{
    width: 15px;
    margin:0px 40px;
    cursor: pointer;
}

.cartitem-quantity{
    width: 64px;
    height: 50px;
    border:2px solid #ebebee;
    background:#fff;
}

.cartitem-dowm{
    display: flex;
    margin:100px 0px;
}

.cartitem-total{
    display: flex;
    flex:1;
    flex-direction: column;
    margin-right: 200px;
    gap:40px;

}

.cartitem-total-item{
    display:flex;
    justify-content: space-between;
    padding: 15px 0px;

}


.cartitem-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border:none;
    background: #ff5a5a;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


.cartitem-promocode{
    flex:1;
    font-size: 16px;
    font-weight: 500;
}

.cartitem-promocode p{
    color:#555;
}

.cartitem-promobox{
    width: 504px;
    height: 58px;
    padding:20px;
    margin-top:15px;
    background: #eaeaea;

}

.cartitem-promobox input{
    border:none;
    outline:none;
    background:transparent;
    height: 50px;
    width: 330px;
}

.cartitem-promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color:#eee;
    cursor: pointer;
}